html {
  padding-bottom: 10%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  background-image: url("Background.jpg");
}

h1 {
  font-size: 40px;
}

h1,
h3 {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  padding-top: 3%;
  color: white;
}

h3 {
  font-size: 20px;
}

button {
  margin-left: 46%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  background-color: rgb(218, 47, 98);
  border: none;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #ffffff;
  color: rgb(218, 47, 98);
}

button:active {
  background-color: rgb(218, 47, 98);
  box-shadow: 0 5px white;
  color: white;
  transform: translateY(4px);
}

.memory-cards {
  align-items: center;
  width: 540px;
  height: 540px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  margin: 0 auto;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 100px rgb(165, 199, 245);
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 50px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.back-card {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
}
